.flex_container{
    background-color: brown;
    width: 600px;
    height:600px;
    margin: 30px auto;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 50px;
 

  
}
.flex_item{
    background-color: darkorange;
    width: 150px;
    height: 150px;
    margin: 2px;
    
}