*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: skyblue;
    width: 500px;
    height: 500px;
    margin: 30px auto;

    /* flex */
    display: flex;

    /* flex-wrap */
    /* flex-wrap:nowrap/wrap/wrap-reverse ; */

    /* justify-content */
    /* justify-content: space-around/space-between/space-evenly/baseline/start/center/end;/stretch */

    /* align-content */
    /* align-content: space-around/space-between/space-evenly/baseline/start/center/end;/stretch */
    
    /* align-items */
   /* align-items: flex-start/flex-end/center; */
   
     /* flex-direction */
    /* flex-direction: column/row/column-reverse/row-reverse; */

    /* gap */
    /* gap: 50px;/ gap: 50px 50px;/row-gap:50px;/column-gap: 50px;*/
    


    
    
    /* flex-wrap: nowrap; */
    flex-wrap:wrap;
    /* flex-wrap: wrap-reverse; */
    /* justify-content:baseline; */
    /* justify-content: flex-start; */
    /* justify-content: end; */
    /* justify-content: center; */
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    
    /* align-items: baseline; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end ; */


    
    /* gap: 50px ; */
    /* row-gap: 50px; */
    /* column-gap: 50px; */
    /* gap: 50px 50px; */
    
}

        
/* flex.css */

.item{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 2px;
    text-align: center;
}

.flex_container{
    background-color: brown;
    width: 600px;
    height:600px;
    margin: 30px auto;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 50px;
 

  
}
.flex_item{
    background-color: darkorange;
    width: 150px;
    height: 150px;
    margin: 2px;
    
}



/* flex_x.css */

#main_container{
    background-color: brown;
    width: 600px;
    height:600px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* gap:  50px 100px; */
    justify-content: space-around;
    align-content: space-evenly;
    /* align-items: start; */
    /* flex-direction: row-reverse; */
    
    
}

.child_div {
    width: 100px;
    height: 50px;
    margin: 1px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    flex-grow: 1;
  
}


.div1{
    background-color: blue;
    order: 6;
    /* flex-grow: 9; */
    
    
    
}

.div2{
    background-color: rgb(182, 117, 20);
    order: 9;
    /* flex-grow: 5; */
}

.div3{
    background-color:green;
    order: 2;
    /* flex-grow: 3; */
    /* flex: 3; */
    /* align-self:center */

 
   
}
.div4{
    background-color:slateblue;
    order: 5;
    /* flex-wrap: 6; */
}
.div5{
    background-color:rgb(14, 66, 126);
    order: 1;
    /* flex-grow: 2; */
    /* flex: 500; */
}
.div6{
    background-color:darkmagenta;
    order: 3;
    /* flex-grow: 4; */
}
.div7{
    background-color:indigo;
    order: 4;
    /* flex-grow: 7; */
}
.div8{
    background-color:rgb(45, 182, 236);
    order: 8;
    /* flex-wrap: 2; */
    
}
.div9{
    background-color: blueviolet;
    order: 7;
    /* flex-shrink: 0; */
    /* width: 300px; */
    
}

/* flex_box */
#flex_box{
    /* border: 2px solid black;
    width: 500px;
    height: 500px; */
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* align-content: space-evenly; */
    /* gap: 50px; */
    align-items: center;
    
   }
   
   .box{
       height: 100px;
       width: 100px;
       border: 1px solid black;
       margin: 2px;
       
       flex-grow: 2;
   }
   
   
   .box1{
       /* order: 1; */
       /* flex-grow: 1; */
       /* flex-shrink: 1; */
       /* flex-basis: 200px; */
       /* flex: 2 3 200px; */
   
   }
   .box2{
       /* flex-grow: 2; */
       /* flex-basis: 200px; */
   }
   .box3{
   /* flex-grow: 3; */
   /* flex-basis: 200px; */
   }